<div class='main-section'>
	<div class='row'>
		<!-- <div class='col-4'>
			<ul>
				<li>
					USER
				</li>
				<li>
					ORDER
				</li>
				<li class='active' [routerLink]='["/"]'>
					PRODUCT
				</li>
			</ul>
		</div> -->
		<div class='col-xl-3 col-sm-6' *ngFor='let product of products'>
			<div class='signle-product'>
				<div class='product-img'>
					<img [src]='product.image_url' class='position-relative' alt=''>
				</div>
				<div class='product-details'>
					<div class='product-name'>
						<p>{{product.name}}</p>
					</div>
					<div class='w-65'>
						Price: {{product.price}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>