.side-menu {
    width: 60px;
    height: 10px;
    background-color: black;
    margin: 6px 0;
}
.mobile-side-nav {
    margin: 20px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1030;
    top: 0;
    left: 0;
    background-color: #f3f3f3;
    overflow-x: hidden;
    overflow-y: scroll;
    .mobile-menu-main {
      height: 50px;
      width: 100%;
      color: black;
      font-size: 30px;
      margin: 0;
      font-weight: normal;
      padding-left: 12px;
      display: flex;
      align-items: center;
      font-weight: bold;
    }
    .single-link-menu {
      padding: 50px 30px;
      font-size: 30px;
      position: relative;
      line-height: 90px;
    }
  }
#sidenav-close {
position: fixed;
top: 0px;
left: 0;
font-size: 14px;
z-index: 1029;
color: #fff;
background-color: rgba(#000, .5);
width: 100%;
height: 100%;
display: none;
}
.m-main-header {
    padding: 0 !important;
    .m-header-set {
        padding: 12px 19px;
        position: relative;
        height: calc(106px - 48px);
    }
}
.m-show {
    @media only screen and (max-width: 1024px) {
        display: block !important;
    }
}
.bar-toggle{
    position: relative;
    top: -1px;
    img{
        height: 16px;
        display: block;
    }
}
.mobile-tab {
    font-size: 30px;
    border: 1px solid rgb(20, 20, 63);
}
.active{
    border: 1px solid blue;
    background-color: rgb(35, 202, 146);
}
.nav-button {
    border: 1px solid rgb(17, 17, 17);
    background-color: rgb(153, 150, 150);
    text-align: center;
    color: #000;
    width: 80%;
}
.m-hide{
    display: block;
    max-width: 1200px;
    margin: auto;
    @media only screen and (max-width:1024px) {
        display: none;        
    }
}